.main-body {
    max-width: 1280px;
    margin-inline: auto;
}

.main-body__heading {
    font-size: 1.25rem;
    font-weight: 700;
}

.main-body__card {
    border: 1px solid black;
    margin-block: 1rem;
}

.main-body__card.active {
    border: 5px solid green;
}