.main-body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1280px;
    margin-inline: auto;
}

.main-body__heading {
    font-size: 1.25rem;
    font-weight: 700;
}

.main-body__card {
    max-width: 50%;
    margin-block: 1rem;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 12px hsla(0, 0%, 33%, 1);
}

.main-body__image {
    border-radius: 10px;
}

.main-body__card.active {
    border: 5px solid green;
}

.main-body__dialog {
    border: 1px solid green;
    background-color: black;
}